

@keyframes example {
0% {background-color: red; left:50px; top:50px;}
25% {background-color: yellow; left:700px; top:50px;}
50% {background-color: blue; left:700px; top:400px;}
75% {background-color: green; left:50px; top:400px;}
100% {background-color: red; left:50px; top:50px;}
}

/* El element al cual se aplica la animación */
.caja {
width: 20px;
position: relative;
animation: infinite;
background-color: red;
animation-name: example;
animation-duration: 4s;

}

/* --------------------------------------------------------------*/
@keyframes play_enem {
100% {  background-position: -466px 0px; }

}

.enemigo {
position: absolute;
width: 46.7px;
height: 48px;
background: url('img/ghost.png') 0px 0px ;
animation: play_enem 1s steps(10) infinite;
z-index: 700;


}



/* --------------------------------------------------------------*/

@keyframes play_coin_1 {
100% { background-position: -536px ;}
}

.moneda_1 {
  position: relative;
  width: 53.5px;
  height: 53.33px;
  background: url('img/moneda.jpg') left center;
  animation: play_coin_1 0.3s steps(10) infinite;

}
