

@keyframes play_moneda {
100% {  background-position: -360px 0px; }

}

/* El element al cual se aplica la animación */

.moneda {

  position: absolute;
  width: 60px;
  height: 100px;

  background: url('img/moneda.png') 5px 0px ;
  background-size: 360px 100px ;
  background-repeat: no-repeat;
  animation: play_moneda 0.3s steps(6) infinite;
  z-index: 600;


}

/* --------------------------------------------------------------*/
@keyframes play_enem {
100% {  background-position: -240px 0px; }

}

.enemigo {
position: absolute;
width: 40px;
height: 37.2px;
/* 2400 372  */
background: url('img/enemigo.png') 0px 0px ;
background-size: 240px 37.2px ;
background-repeat: no-repeat;
animation: play_enem 1s steps(6) infinite;
z-index: 700;


}



/* --------------------------------------------------------------*/

@keyframes play_coin_1 {
100% { background-position: -536px ;}
}

.moneda_1 {
  position: relative;
  width: 53.5px;
  height: 53.33px;
  background: url('img/moneda.jpg') left center;
  animation: play_coin_1 0.3s steps(10) infinite;

}
