

@keyframes agarrando {
  100% {
   background-position: -91px; }
  }

@keyframes saltando {
  100% {
   background-position: -91px; }
  }

@keyframes corriendo {
100% {
 background-position: -615px; }
}

@keyframes morir {
  100% {
   background-position: -615px; }
  }

@keyframes golpeado {
  100% {
   background-position: -425px;}
}

.agarrando {
  background :url('img/salto.png') left center;
  animation: agarrando 0.8s steps(1) infinite;
}

.saltando {
  background :url('img/salto.png') left center;
  animation: saltando 0.8s steps(1) infinite;
}

.corriendo {
  background: url('img/corriendo.png') left center;
  animation: corriendo 0.8s steps(7) infinite;
}


.morir {
  background: url('img/corriendo.png') left center;
  animation: morir 0.8s steps(7) infinite;
}

.golpeado {
  width: 85px;
  background: url('img/golpeado.png') left center;
  animation: golpeado 0.8s steps(5) infinite;
}


.personaje {
position: absolute;
width: 88px;
height: 114px;
z-index: 700;

}
