

@keyframes saltar {
  100% {
   background-position: -91px; }
  }

@keyframes correr {
100% {
 background-position: -615px; }
}

@keyframes morir {
  100% {
   background-position: -615px; }
  }

@keyframes recibir_danio {
  100% {
   background-position: -615px; }
  }


.personaje {
position: absolute;
width: 88px;
height: 114px;
background: url('img/corriendo.png') left center;
animation: correr 0.8s steps(7) infinite;
z-index: 700;

}
