
@keyframes desaparecer_centro {
    from { transform: none; }
    100% { transform: scale(0); }
}

@keyframes aparecer_centro {
    from { transform: scale(0) }
    100% { transform: none; }
}

@keyframes girar90 {
    from {transform:rotateY(0deg); }
    100% { transform:rotateY(90deg); }
}

@keyframes girar-90 {
    from { transform: rotateY(90deg); }
    100% { transform: rotateY(0deg) ,scale(0); }
}

.cambio_automatico_v1{
  animation: desaparecer_centro 2s;
}


.cambio_automatico_v2{
  animation: aparecer_centro 2s;
}

.giroShow{
  animation: girar-90 2s;
}

.giroHide{
  animation: girar90 2s;
}
.contenedorFotoV2{
  text-align: center;
  vertical-align:middle;
}
.contenedorFotoV2 .img-chica{
  width: 70%;
  height: 70%;
}
/*width:100%; height:auto;*/
