


.like_container{
  margin:50px;
}

.likes{
  top: 5px;
  color: red;  /*para que el corazon y el numero de likes sea en rojo*/
  text-align: center;
}

.num_likes{
  padding-top: 9px;
  text-align: left;
}


@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.5); }
    to { transform: none; }
}

@keyframes gira {
       25%{transform:rotateX(180deg);}
       50%{transform:rotateY(180deg); }
       75%{transform:rotateY(180deg);transform:rotateX(480deg);}
       100%{ transform:rotateX(360deg); }
}

@keyframes gira2 {

       50%{transform:rotateY(180deg); }
       100%{ transform:rotateX(360deg); }
}

@keyframes colores {
  12%{color:red;}
  24%{color:orange;}
  36%{color:yellow;}
  48%{color:green;}
  60%{color:#ADD8E6;}
  72%{color:blue;}
  84%{color:purple;}
  100%{color:red;}

}



.latiendo{
  animation: latidos 1s infinite;
}


.girando{
  animation: gira 5s infinite;
}

.girando2{
  animation: gira2 2s infinite;
}

.arcoiris{
  animation: colores 10s infinite;
}
