[project]
	description = Trabajos de Visualizacion
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Federico Rosenfeld (elmuddy)
[access "refs/for/refs/*"]
	read = group user/Federico Rosenfeld (elmuddy)
	push = group user/Federico Rosenfeld (elmuddy)
	label-Code-Review = -2..+2 group user/Federico Rosenfeld (elmuddy)
	label-Verified = -1..+1 group user/Federico Rosenfeld (elmuddy)
	rebase = group user/Federico Rosenfeld (elmuddy)
	removeReviewer = group user/Federico Rosenfeld (elmuddy)
	submit = group user/Federico Rosenfeld (elmuddy)
[access "refs/heads/*"]
	read = group user/Federico Rosenfeld (elmuddy)
	create = group user/Federico Rosenfeld (elmuddy)
	push = +force group user/Federico Rosenfeld (elmuddy)
	pushMerge = group user/Federico Rosenfeld (elmuddy)
[access "refs/tags/*"]
	push = group user/Federico Rosenfeld (elmuddy)
	push = +force group user/Federico Rosenfeld (elmuddy)
