


.personaje {
position: absolute;
top: 10px;
left: 10px;
width: 88px;
height: 114px;
background: url('img/muddy.png') left center;
animation: play 0.8s steps(6) infinite;

}


@keyframes play {
100% { background-position: -528px; }
}
